.login {
    height: 300px;
    width: 300px;
    background-color: palegoldenrod;
    padding: 10px;
    margin: 0;
    border: 1px solid blueviolet;
}

.login input {
    padding: 5px;
    margin: 5px;
}